**/bin/
**/libs/
**/obj/
**/.settings/
**/gen/
**/.cproject
**/.project
**/tags
**/*.iml
**/*.idea/
**/.vscode
**/.classpath
**/*.pdb
**/*.user
dist/
packages/
.repo/
repo
**/.vs/
**/log.txt
**/frtc_sdk.log
3rdparty/directshow/baseclasses/Release/
3rdparty/directshow/baseclasses/Release_MBCS/
frtc_call/*.aps
Release_FRTC/
meeting_history.json
logs/
SDKDemo/SDKDemo/bin/
SDKDemo/SDKDemo/obj/
SDKDemo/.vs/
SQMeeting_Setup/Release/