<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FRTCServerAddress" value="" />
    <add key="FRTCUUID" value="" />
    <add key="FRTCUserToken" value="" />
    <add key="FRTCUserName" value="" />
    <add key="VideoLayout" value="" />
    <add key="CurrentCameraID" value="" />
    <add key="CurrentSpeakerID" value="" />
    <add key="CurrentMicID" value="" />
  </appSettings>
</configuration>